{{>layout/header}}
<h1>Review</h1>
<div class="col-md-12">
    <!-- 로그인 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/reviews/save" role="button" class="btn btn-primary">리뷰 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
            <br/>
            <br/>
            {{#msg}}
                {{msg}}
            {{/msg}}
            {{^msg}}
            {{/msg}}
        </div>
    </div>
    <br>
    {{#userName}}
        <!-- 카테고리 선택 영역 -->
        <div class="form-group">
            <label for="selectCategory">category</label>
            <select name="selectCategory" id="selectCategory" onchange="window.open(value,'_self')">
                <option value="" selected disabled hidden>--Choose here--</option>
                <option value="/?category=all">All</option>
                <option value="/?category=movie">영화</option>
                <option value="/?category=book">책</option>
                <option value="/?category=tvshow">TV프로그램</option>
            </select>
        </div>
        <!--리뷰 목록 출력 영역-->
        {{#reviews}}
        <table class="table table-horizontal">
        <thead class="thead-strong">
            <tr>
                <th> <font size="4">title</font> <a href="/reviews/update/{{id}}">{{title}}</a></th>
                <th> <span text-align="right"><font size="4">Date</font> {{modifiedDate}}</span></th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr>
                <td colspan="2">{{content}}</td>
            </tr>
            <tr>
                <td colspan="2">"{{oneSentence}}"</td>
            </tr>
            </tbody>
        </table>
        {{/reviews}}
        <nav aria-label="...">
            <ul class="pagination">
            {{^reviews.isFirst}}k
                <li class="page-item">
                    <a class="page-link" href="?page={{reviews.previousPageable.getPageNumber}}">&larr;Previous</a>
                </li>
            {{/reviews.isFirst}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{reviews.getNumber}}<span class="sr-only">(current)</span></a>
                </li>
            {{^reviews.isLast}}
                <li class="page-item">
                    <a class="page-link" href="?page={{reviews.nextPageable.getPageNumber}}">Next&rarr;</a>
                </li>
            {{/reviews.isLast}}
        </ul>
        </nav>
    {{/userName}}
</div>
{{>layout/footer}}