{{>layout/header}}
<h1>Review</h1>
<div class="col-md-12">
    <!-- 로그인 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/reviews/save" role="button" class="btn btn-primary">리뷰 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
            <br/>
            <br/>
            {{#msg}}
                {{msg}}
            {{/msg}}
            {{^msg}}
            {{/msg}}
        </div>
    </div>
    <br>
    {{#userName}}
    <!-- 카테고리 선택 영역 -->
    <div class="form-group">
        <label for="searchCategory">카테고리</label>
        <select name="searchCategory" id="searchCategory">
            <option value="-">-</option>
            <option value="movie">영화</option>
            <option value="book">책</option>
            <option value="tvshow">TV프로그램</option>
        </select>
    </div>
    <!--리뷰 목록 출력 영역-->
    <table class="table table-horizontal">
        <thead class="thead-strong">
        {{#reviews}}
        <tr>
            <th> <font size="4">title</font> <a href="/reviews/update/{{id}}">{{title}}</a></th>
            <th> <span text-align="right"><font size="4">Date</font> {{modifiedDate}}</span></th>
        </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td colspan="2">{{content}}</td>
            </tr>
            <tr>
                <td colspan="2">"{{oneSentence}}"</td>
            </tr>
        </tbody>
        {{/reviews}}
    </table>
    {{/userName}}
    {{^userName}}
        당신의 리뷰를 등록하세요.
    {{/userName}}
</div>
{{>layout/footer}}