{{>layout/header}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(function () {
        var category = "{{review.category}}"
        $('select.category option[value=' + category + ']').attr('selected', 'selected');
        var gpa = "{{review.gpa}}"
        $('input:radio[name=gpa]:input[value='+gpa+']').attr("checked",true)
        var img = "{{review.img}}"
    })
</script>
<h1 xmlns="http://www.w3.org/1999/html">게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md=4">
        <form>
            <input type="hidden" id="id" value="{{review.id}}">
            <div class="form-group">
                <label for="category">카테고리</label>
                <select class="category" name="category" id="category">
                    <option value="movie">영화</option>
                    <option value="book">책</option>
                    <option value="tvshow">TV프로그램</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{review.title}}">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content">{{review.content}}</textarea>
            </div>
            <div class="form-group">
                <label for="gpa">평점</label><br/>
                <div class="gpa">
                    <input type="radio" class="gpa" id="star5" name="gpa" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" class="gpa" id="star4" name="gpa" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" class="gpa" id="star3" name="gpa" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" class="gpa" id="star2" name="gpa" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" class="gpa" id="star1" name="gpa" value="1"/>
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label for="oneSentence">기억에 남는 한 문장</label>
                <input type="text" class="form-control" id="oneSentence" value="{{review.oneSentence}}">
            </div>
            <img src="/uploads/{{review.img}}" width="200px"/><br/>
            <br/>
            <input type="file" id="img"/>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>
{{>layout/footer}}